.main_body
{
	background-color: yellow;
}

#header-link
{
	color: black;
	text-decoration: none;
}
.nav-item
{
	border: 0.5px solid black;
	margin-left: 60%;
	text-align: center;
}

.para 
{
	margin: 10px;
	padding: 20px;
	border: 1px solid black;
	text-align: center;
}

.Menu, .Specials, .Map, .Random_specials
{
	margin: 10px;
	padding: 20px;
	border: 1px solid black;
	text-align: center;
	float: left;

}


#menu_link, #special_link, #map_link, #random_link
{
	text-decoration: none;
	color: black;
}

.special_page_styling
{
	border: 1px solid black; 
	margin: 25px;
	float: left;
	padding: 95px;
	font-size: 25px;
}

@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {  }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { .navbar-toggler{ display: none; } } }

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { .navbar-toggler{ display: none; } }

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { .navbar-toggler{ display: none; } } }